
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap');
.container{
    margin-top: 50px;
}
 .card{
    width: 380px;
    border-radius: 20px;
    overflow: hidden;
}
.title{
    font-family: 'Berkshire Swash', cursive;
}

.rowbackground{
    background-image: url('/src/assets/images/images/write-593333_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 750px;
    margin-left: 108px;    
}

.logImg{
    display: flex;
    text-align: end;
    margin: 0 auto;
}
/* .colstyle{
    background: white;
    padding: 34px;
} */
.form-control{
    /* border-radius: 20px; */
    box-shadow: 0 0 2px
}
.label{
    /* margin-left: 13px; */
    font-size: 15px;

}
.logInForm{
    /* border: 1px solid; */
    min-width: 250px;
    /* padding: 80px; */    
    padding: 40px;

}

mat-form-field-infix{
width: 290px !important;
}
.cardstyle{
    /* background-image: url('/src/assets/images/login-bg.png'); */
    background-color: #8bb0fe;
    height: 150px;
    /* background: #81a9fe; */
    padding: 40px 20px;

}
.forgetbtn{
    text-decoration:underline; 
}
/* .card{
    margin-top: 80px;

}
.container{
    
    margin-top: 50px;
    padding: 46px;
}
.background{
    height: 150px;
    background: black;
}
.colstyle{
    background: white;
  
    padding: 20px;
}
.formstyle{
    padding: 19px;
}
.form-control{
    border-radius: 20px;
    box-shadow: 0 0 2px
}
.rowbackgroud{
    background-image: url('../../assets/images/student-849825_640.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */